.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    gap: 10px;
    height: calc(164 - 60px);
    font-family: Pretendard;
}

.container h3 {
    width: 316px;
    height: 19px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 19.09px;
    text-align: left;
    margin-bottom: 5px;
}

.planetContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 30px;
    background: #00000080;
}

.leftBtn,
.rightBtn {
    width: 15px;
    height: 15px;
    background: none;
    border: none;
    margin: 10px;
}

.leftBtn {
    top: 30.62px;
    left: 20px;
}

.rightBtn {
    top: 19px;
    left: 262.19px;
}

.planetList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    height: 46px;
    flex-grow: 1;
}

.planetList button {
    width: 40px;
    height: 40px;
    padding: 3px 0px;   
    margin-right: 10px;
    border-radius: 300px;
    border: 1px;
}

.planetList .createPlanet {
    align-items: center;
    width: 46px;
    height: 46px;
    gap: 10px;
    border-radius: 300px;
    background-color: var(--dark-gray);
    margin: 0;
}

