.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px;
  gap: 15px;
}

.wrapper h3 {
  height: 19px;
  width: 316px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
  margin-bottom: 15px;
  font-family: "Pretendard"
}

.planetContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
  padding: 12px 15px;
  border-radius: 30px;
  gap: 10px;
  background: #00000080;
}

.leftBtn,
.rightBtn {
  display: flex;
  align-items: center;
  flex: 1;
  background: none;
  border: none;
  color: #D7D7D7;
  padding: 0;
}

.leftBtn {
  justify-content: flex-start; 
}

.rightBtn{
  justify-content: flex-end;
}

.planetList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 246px;
  height: 46px;
}

.planetList button {
  width: 40px;
  height: 40px;
  padding: 3px 0px;   
  margin-right: 10px;
  border-radius: 300px;
  border: 1px;
}

.planetList .createPlanet {
  align-items: center;
  width: 46px;
  height: 46px;
  gap: 10px;
  border-radius: 300px;
  background-color: var(--dark-gray);
}