.wrapper {
  height: 48px;
  width: 330px;
  padding: 10px 0px;
  gap: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exitBtn {
  height: 30px;
  width: 30px;
  padding: 5px 3px;
  gap: 10px;
  background: none;
  border: none;
  color: var(--dark-gray);
}