.wrapper {
  display: flex; 
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--main-purple);
}

.container {
  width: 390px;
  top: 100px;
  left: 1390px;
  display: flex;
  align-items: center;
  flex-direction: column;
}