.categoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 594px;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: var(--dark-gray);
}

.categoryList button {
  background: none;
  border: none;
  color: var(--dark-gray);
}

.categoryList li {
  list-style-type: none;
}

.category {
  width: 324px;
  gap: 10px;
  padding: 9px 33px;
  border-bottom: 1px solid var(--light-gray);
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  height: 19px;
  padding: 10px 25px;
}

.categoryHeader button {
  width: 22px;
  height: 18px;
  gap: 10px;
  padding: 5px 3px;
}

.categoryName {
  display: flex;
}

.category h3 {
  flex-grow: 1;
}

.iconPurple {
  color: var(--main-purple);
}

.createServerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.createServerModal > * {
  z-index: 1000; /*오버레이*/
}
.closeBtn {
  background-color: transparent;
  margin-top: 10px;
}
