.wrapper {
  justify-content: center;
  width: 390px;
  height: 712px;
  background-color: var(--black);
  border-radius: 20px 20px 0 0;
  color: #FFFFFF;
}

.wrapper button {
  background: none;
  border: none;
  color: #FFFFFF;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 324px;
  height: 37px;
  gap: 5px;
  padding: 9px 33px;
  color: #FFFFFF;
}

.headerContainer h4 {
  align-items: center;
  width: 255px;
  height: 19px;
}

.mediaContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 637px;
  padding: 10px;
  position: relative; /* 부모 요소를 기준으로 자식 요소의 위치를 지정합니다. */
}

.mediaDeviceContainer {
  position: absolute; /* 부모 요소를 기준으로 위치를 지정합니다. */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 45px;
  gap: 19px;
  bottom: 19px; /* 부모 요소의 바닥에서 19px 위에 위치하도록 설정합니다. */
}
.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 580px;
  width: 390px;
  gap: 10px;
}
.mediaDeviceContainer button {
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  width: 45px;
  height: 45px;
  border-radius: 300px;
}

.mediaDeviceContainer button :only-child {
  width: 25px;
  height: 25px;
}
