.wrapper {
  justify-content: center;
  width: 390px;
  height: 720px;
  background-color: var(--black);
  border-radius: 20px 20px 0 0;
  color: #FFFFFF;
}

.wrapper button {
  background: none;
  border: none;
  color: #FFFFFF;
}

.header {
  height: 36px;
  padding: 10px 10px 10px 0px;
  gap: 260px;
}

.channelData {
  height: 34px;
  padding: 16px 29px;
  gap: 10px;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 324px;
  height: 37px;
  gap: 5px;
  padding: 9px 33px;
  color: #FFFFFF;
}

.headerContainer h4 {
  align-items: center;
  width: 255px;
  height: 19px;
}

.mediaContainer {
  height: 665px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 580px;
  width: 390px;
  gap: 18px;
}

.mediaDeviceContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 27px;
  width: 390px;
  height: 45px;
  gap: 15px;
}

.mediaDeviceContainer button {
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  width: 45px;
  height: 45px;
  border-radius: 300px;
}

.mediaDeviceContainer button :only-child {
  width: 25px;
  height: 25px;
}

.userData {
  width: 183px;
  height: 343px;
}