.wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--main-purple);
  height: 100vh;
  width: 100vw;
}
.Servers {
  min-width: 115px;
  background-color: var(--main-purple);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-top-left-radius: 15px;
}
.header {
  flex: 0 0 auto; /* 헤더는 고정 높이 */
  @media (min-width: 432px) {
    display: none;
  }
}
.deskHeader {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 2px solid #ccc;
  color: black;
  font-family: "DOSSaemmul";
}
.dmRoomIcon {
  border-radius: 100%;
  background-color: var(--mid-gray);
  text-align: center;
  width: 25px;
  height: 25px;
  position: relative;
  position: absolute;
  left: 320px;
}
.groupIcon {
  color: rgba(255, 255, 255, 0.788);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerContent {
  position: absolute;
  left: 360px;
}
.modals {
  position: absolute;
  right: 40px;
}

.item {
  display: flex;
  flex: 1 1 auto;
}

.dmHistoryList {
  flex: 1;
  border-right: 2px solid #ccc;
  min-width: 300px;
}

.ChatRoom {
  flex: 3;
  min-width: 431px;
}
.userList {
  flex: 1;
  border-left: 2px solid #ccc;
  min-width: 300px;
}
