.wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--main-purple);
  height: 100vh;
  width: 100vw;
}
.Servers {
  min-width: 115px;
  background-color: var(--main-purple);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  margin-top: 30px;
  border-top-left-radius: 15px;
}
.header {
  flex: 0 0 auto; /* 헤더는 고정 높이 */
  @media (min-width: 432px) {
    display: none;
  }
}
.deskHeader {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px solid #ccc;
  color: black;
  font-family: "DOSSaemmul";
}
.modals {
  position: absolute;
  right: 40px;
}

.item {
  display: flex;
  flex: 1 1 auto;
}

.dmHistoryList {
  flex: 1;
  border-right: 2px solid #ccc;
  min-width: 300px;
}

.ChatRoom {
  flex: 4;
  min-width: 431px;
}
