.wrapper {
  background-color: var(--main-purple);
  width: 390px;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
.chatContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.chatListContainer {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.topInfos {
  color: var(--dark-gray);
  margin-top: 30px;
  margin-bottom: 30px;
}
.chatIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.messageSender {
  padding-left: 20px;
  padding-right: 20px;
}
.dateHeader {
  text-align: center;
  font-weight: bold;
  color: var(--dark-gray);
  margin: 25px 0;
  position: relative;
}
.dateHeader::before,
.dateHeader::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 35%;
  border-bottom: 1px solid #ccc;
}
.dateHeader::before {
  left: 0;
}
.dateHeader::after {
  right: 0;
}
