.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.logo {
  width: 400px;
  height: 300px;
}
.startText {
  font-weight: 700;
  color: var(--main-purple);
}
