.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  border-style: none;
  background-color: var(--light-gray);
}
.previewBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: var(--light-gray);
  border-bottom: 2px solid white;
  border-radius: 5px;
}
.filePreview {
  width: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
.previewImg {
  width: 100%;
}

.dropdownContent {
  width: 100px;
  background-color: #0000008c;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 9999;
  border-radius: 5px;
  @media (min-width: 432px) {
    top: -170px;
    width: 140px;
    padding: 0;
  }
}
.typingIndicator {
  display: flex;
  background-color: white;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 9999;
}
.senderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.inputContent {
  width: 90%;
  height: 40px;
  background-color: transparent;
  color: black;
  @media (min-width: 432px) {
    width: 100%;
  }
}

.btn {
  color: var(--dark-gray);
  width: 20px;
  height: 20px;
}
