.channelContainer {
  display: flex;
  align-items: center;
  width: 321px;
  gap: 5px;
  padding: 5px;
}

.name {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  flex-grow: 1;
  border: none;
  background: none; 
  cursor: pointer; 
}

.name h3 {
  margin-left: 5px; 
  text-align: left;
}

button:focus {
  outline: none;
}
/* Channel.module.css */

.createServerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.closeBtn h4 {
  text-decoration: underline;
}

