.container {
    background-color: white;
    border-radius: 15% 15% 0 0;
    padding: 7%;
}

.container ul {
    list-style-type: none;
}

.container h1 {
    color: var(--main-purple);
}


.friendMenu {
    display: flex;
    padding: 3%;
}

.friendMenu ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-end;
}

.friendMenu ul li {
    width: auto;
    margin-right: 5%;
}

.friendMenu button {
    border: none;
    white-space: nowrap;
    /* background-color: transparent; */
}

.addFriend {
    background-color: var(--main-purple);
    color: white;
}


.friendSearch {
    display: flex; 
    justify-content: center;
}

.friendSearch form {
    display: flex;
    width: 90%;
}

.friendSearch input {
    width: 80%; 
    border-radius: 20px 0 0 20px;
    flex: 1;
    border: none;
    background-color: var(--light-gray);
}

.friendSearch button {
    border-radius: 0 20px 20px 0;
    width: 20%; 
    border: none;
    background-color: var(--light-gray);
}

.friendSearch img {
    width: 30%;
    height: auto;
    margin: 5%;
}
