.wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will align items to both ends */
  gap: 10px;
  border-bottom: solid 2px #ededed;
  padding-left: 25px;
  padding-right: 25px; /* Add padding to the right for better spacing */
}
.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leftIcon {
  height: 25px;
  width: 25px;
  color:purple;
}
.state{
  height: 8px;
  width: 8px;
  color: lightgreen;
}
.chatIcon {
  height: 20px;
  width: 20px;
  color:purple;
}
