.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(89 - 30px);
  width: calc(390 - 52px);
  padding: 15px 13.5px 0px 13.5px;
  gap: 10px;
  top: 7.5px;;
}

.wrapper button {
  cursor: pointer;
}

.logo {
  height: 74px;
  width: 79px;
}

.searchContainer {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 33px;
  background: #00000080;
  border-radius: 10px;
}

.searchForm {
  display: flex;
  width: 213px;
  height: 14px;
}

.searchInput {
  color: #A3A3A3;
  background: none; 
  border: none;
  flex: 9;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  font-family: "Pretendard"
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 16.39px;
  height: 16px;
  flex: 1;
  border: none; 
  background: none;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 32px;
  padding: 5px 3px;
  gap: 10px;
  border-radius: 10px;
  background: #00000080;
  border: none;
}
