.wrapper {
    display: flex;
    align-items: center;
    padding: 30px 26px 0px 26px;
    gap: 10px;
    height: Fixed 89px;
}

.wrapper button {
    cursor: pointer;
}

.logo {
    width: 79px;
    height: 74px;
    top: 7.5px;
}

.searchContainer {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 33px;
    background: #00000080;
    border-radius: 10px;
}

.searchForm {
    display: flex;
    width: 213px;
    height: 14px;
}

.searchInput {
    color: #A3A3A3;
    background: none; 
    border: none;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.32px;
    flex: 1;
}

.searchBtn {
    border: none; 
    background: none;
    width: 16.39px;
    height: 16px;
    top: 8.5px;
    left: 211.5px;
}

.menuBtn {
    align-items: center;
    width: 28px;
    height: 32px;
    padding: 5px 3px;
    gap: 10px;
    border-radius: 10px;
    background: #00000080;
    border: none;
}
