@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url(./fonts/woff2/Pretendard-SemiBold.woff2) format("woff2"),
    url(./woff/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(./fonts/woff2/Pretendard-Medium.woff2) format("woff2"),
    url(./woff/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(./fonts/woff2/Pretendard-Regular.woff2) format("woff2"),
    url(./woff/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url(./fonts/woff2/Pretendard-Light.woff2) format("woff2"),
    url(./woff/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src:
    local("Pretendard ExtraLight"),
    url(./fonts/woff2/Pretendard-ExtraLight.woff2) format("woff2"),
    url(./woff/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src:
    local("Pretendard Thin"),
    url(./fonts/woff2/Pretendard-Thin.woff2) format("woff2"),
    url(./woff/Pretendard-Thin.woff) format("woff");
}

:root {
  font-family: Pretendard;
  --main-purple: #4a0074;
  --light-gray: #ededed;
  --mid-gray: #898989;
  --dark-gray: #434343;
  --hot-pink: #ff1cc0;
  --yellow-color: #ffe500;
  --black: #000000;
}
* {
  margin: 0;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 10px;
}
a {
  font-size: 12px;
  color: var(--main-purple);
}
