@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url(./assets/fonts/woff2/Pretendard-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url(./assets/fonts/woff2/Pretendard-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(./assets/fonts/woff2/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(./assets/fonts/woff2/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url(./assets/fonts/woff2/Pretendard-Light.woff2) format("woff2");
}

@font-face {
  font-family: "DOSSaemmul";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Pretendard;
  --main-purple: #4a0074;
  --light-gray: #ededed;
  --mid-gray: #898989;
  --dark-gray: #434343;
  --hot-pink: #ff1cc0;
  --yellow-color: #ffe500;
  --black: #000000;
}
* {
  margin: 0;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 10px;
}
a {
  font-size: 12px;
  color: var(--main-purple);
}
a2 {
  font-size: 12px;
  color: var(--mid-gray);
}
button {
  border-style: none;
  font-family: "Pretendard";
  cursor: pointer;
  border-radius: 5px;
}
input {
  border-style: none;
  outline: none;
  font-family: "Pretendard";
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 10px;
}
a {
  font-size: 12px;
  color: var(--main-purple);
}
